


.wrapper {
  position: relative;
  padding: 22px;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

IMG {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;
  
}
IMG:hover{
    z-index: 2;
    transform: scale(2);}