


.wrapper {
  border-style: double;
  background-color: black;
  position: relative;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2vmin;
}

.img {
  z-index: 1;
  grid-column: span 2;
  width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transition: all .25s;
  
}
.img:hover{
    z-index: 2;
    transform: scale(2);}